<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
      <section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
      <section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
      <section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
      <section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
    </sectionGroup>
  </configSections>




  <!-- 
      The <connectionStrings> section defines how your website connects to databases, including the 
      database used by HereSay. -->
  <connectionStrings>
    <!-- 
        By default, HereSay uses a local file-based MS SQL Express database. Additional databases 
        are also supported so feel free to switch out the connectionString and providerName. 
        Additional details below. -->
    <add name="heresay" connectionString="Server=(local);Database=HereSay_walthamservices_com;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <!-- Connection string examples for alternative databases:
        SQLite:
            <add name="heresay" 
                 connectionString="Data Source=|DataDirectory|\heresay.sqlite.db;Version=3;New=True;" 
                 providerName="System.Data.SQLite"/>
    
        MS SQL Server:
            <add name="heresay" 
                 connectionString="Server=(local);Database=heresay;Integrated Security=SSPI" 
                 providerName="System.Data.SqlClient"/>
    
        MS SQL Express (file-based):
            <add name="heresay" 
                 connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\heresay.mdf;Integrated Security=True;User Instance=True" 
                 providerName="System.Data.SqlClient"/>
    
        MS SQL Express (instance):
            <add name="heresay" 
                 connectionString="Data Source=.\SQLEXPRESS;Database=heresay;Integrated Security=SSPI" 
                 providerName="System.Data.SqlClient"/>
    
        MySQL:
            <add name="heresay" 
                 connectionString="Data Source=MySQLServer;Database=MySQLDatabase;User Id=MySQLUser;Password=MySQLPassword;" 
                 providerName="MySql.Data.MySqlClient"/>
    
        Oracle:
            <add name="heresay" 
                 connectionString="Data Source=OracleSid; User Id=username;Password=pwd;" 
                 providerName="System.Data.OracleClient"/> 
        -->
  </connectionStrings>
  <!-- 
      HereSay is based on the N2 CMS framework: http://n2cms.com/. The <n2> section defines the 
      basic environmental parameters for N2. -->
  <n2 xmlns="http://n2cms.com/schemas/configuration/v3">
    <host rootID="1" startPageID="2" multipleSites="false">
      <!-- The <web> section integrates N2 with ASP.NET to allow it control of URLs -->
      <web extension="" observeEmptyExtension="true" observeAllExtensions="true"
            ignoreExistingFiles="true">
        <urls>
          <nonRewritable>
            <add virtualPath="~/_hs/" name="HereSay"/>
          </nonRewritable>
        </urls>
      </web>
      <vpp>
        <zips>
          <add name="n2.management" observedPath="~/N2/" filePath="~/N2/N2.zip"/>
        </zips>
      </vpp>
    </host>
    <engine>
      <assemblies>
        <!-- 
            These assembly declarations are necessary in MEDIUM TRUST -->
        <add assembly="N2"/>
        <add assembly="N2.Management"/>
        <add assembly="Rolcore.Web"/>
        <add assembly="HereSay"/>
      </assemblies>
      <!-- 
        Globalization requires you to create additional start pages with a language defined -->
      <globalization enabled="true"/>
      <!-- 
          Will ping the site to prevent it from sleeping -->
      <scheduler keepAlive="true" interval="10"/>
    </engine>
    <!-- 
        New database? Run installer at http://yoursite/n2/installation/ -->
    <database connectionStringName="heresay" flavour="AutoDetect" caching="true">
      <hibernateProperties>
        <add name="hbm2ddl.keywords" value="none"/>
      </hibernateProperties>
    </database>
    <edit>
      <uploadFolders>
        <clear/>
        <add path="~/media"/>
      </uploadFolders>
      <tinyMCE enabled="true">
        <settings>
          <add key="valid_elements" value="*[*]"/>
          <add key="forced_root_block" value=""/>
          <add key="force_p_newlines" value="false"/>
          <add key="cleanup" value="true"/>
        </settings>
      </tinyMCE>
      <nameEditor whitespaceReplacement="-" toLower="true" showKeepUpdated="true">
        <replacements>
          <clear/>
        </replacements>
      </nameEditor>
      <images>
        <sizes>
          <clear/>
        </sizes>
      </images>
    </edit>
  </n2>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="N2/Login.aspx" protection="All" timeout="30000"
        path="/">
        <credentials passwordFormat="SHA1">
          <user name="admin" password="fa9beb99e4029ad5a6615399e7bbae21356086b3" />
        </credentials>
      </forms>
    </authentication>
    <compilation debug="true" targetFramework="4.5">

      <expressionBuilders>
        <add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
        <add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
        <add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2"/>
        <add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
        <add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2"/>
      </expressionBuilders>
    </compilation>
    <httpRuntime requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="102400" appRequestQueueLimit="100"/>
    <pages enableViewState="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>

        <add tagPrefix="Rolcore" namespace="Rolcore.Web.UI" assembly="Rolcore.Web"/>
        <add tagPrefix="HereSay" namespace="HereSay.UI" assembly="HereSay"/>
        <add tagPrefix="n2" namespace="N2.Web.UI.WebControls" assembly="N2"/>
      </controls>


      <tagMapping>
        <add tagType="System.Web.UI.HtmlControls.HtmlForm" mappedTagType="N2.Web.UI.WebControls.RawUrlForm"/>
      </tagMapping>
      <namespaces>
        <add namespace="N2.Linq"/>
        <add namespace="N2.Web.Mvc.Html"/>
      </namespaces>
    </pages>
    <!-- 
        These membership and role providers store their data as content items in the HereSay 
        database. To modify how security is handled, see the Microsoft's article on Configuring 
        ASP.NET to Use Membership: http://msdn.microsoft.com/en-us/library/6e9y4s5t.aspx -->
    <!-- 
		These membership and role providers store their data as content items. You can also use the forms authentication 
		credentials only (then remove these sections) or the default ASP.NET providers (search for asp.net membership) 
		-->
    <membership defaultProvider="ContentMembershipProvider">
      <providers>
        <clear />
        <add passwordFormat="Hashed" name="ContentMembershipProvider"
          type="N2.Security.ContentMembershipProvider, N2.Management" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ContentRoleProvider">
      <providers>
        <clear />
        <add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Management" />
      </providers>
    </roleManager>
    <profile defaultProvider="ContentProfileProvider">
      <providers>
        <clear />
        <add name="ContentProfileProvider" type="N2.Security.ContentProfileProvider, N2.Management" />
      </providers>
    </profile>


    <siteMap defaultProvider="PublicSiteMap">
      <providers>
        <add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true"/>
      </providers>
    </siteMap>
    <httpModules>
      <add name="n2.initializer" type="N2.Web.InitializerModule, N2"/>
    </httpModules>
  </system.web>
  <system.webServer>

    <handlers>
      <add name="N2" path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2"/>
      <add name="Redirect" path="/RedirectPage.ashx" verb="*" type="HereSay.Pages.RedirectPage, HereSay"/>
      <add name="CustomText" path="/CustomTextContent.ashx" verb="*" type="HereSay.Pages.CustomTextContent, HereSay"/>
    </handlers>

    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="n2.initializer" type="N2.Web.InitializerModule, N2"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ionic.Zip" publicKeyToken="edbe51ad942a3f5c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.9.1.8" newVersion="1.9.1.8"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>